@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: underline;
    transition-duration: 1s;
}

section p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}